.carousel {
  background-color: var(--secundario);
}
#carrusel{
  position: relative;
}

.carousel-item {
  height: 43rem;
}

.c-desc {
  font-family: "Josefin_Sans", sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 67%;
  left: 27%;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.90);
}

.hu__hu__ {
  animation: hu__hu__ infinite 3s ease-in-out;
}
@keyframes hu__hu__ {
  50% {
    transform: translateY(30px);
  }
}
