<div class="min-vh-100 p-2 side">
  <a
    class="d-flex mt-1 align-items-center justify-content-center text-decoration-none text-reset mt-2"
  >
    <span class="fs-4 d-none d-sm-inline text-white"> OPCIONES </span>
  </a>
  <ul class="nav nav-pills flex-column mt-4">
    <hr class="m-0" />
    <li class="pt-0">
      <a href="#" class="nav-link text-white d-flex justify-content-start">
        <i class="bi bi-house"></i>
        <span class="fs-4 d-none d-sm-inline">Articulos</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="list-articles"
        routerLinkActive="active"
        class="d-flex justify-content-start align-items-center nav-link text-white"
      >
        <img
          src="../../../../assets/icons/dark/ver-articulos.png"
          alt="ver articulos"
          width="24px"
          height="24px"
        />
        <span class="fs-5 ms-3 d-none d-sm-inline">Ver Articulos</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="create-article"
        class="d-flex justify-content-start align-items-center nav-link text-white"
      >
        <img
          src="../../../../assets/icons/dark/agregar-destino.png"
          alt="Crear Destino"
          width="24px"
          height="24px"
        />
        <span class="fs-5 ms-3 d-none d-sm-inline">Crear Destino</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="create-product"
        class="d-flex justify-content-start align-items-center nav-link text-white"
      >
        <img
          src="../../../../assets/icons/dark/agregar-producto.png"
          alt="Crear Producto"
          width="24px"
          height="24px"
        />
        <span class="fs-5 ms-3 d-none d-sm-inline">Crear Producto</span>
      </a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column mt-4">
    <hr class="m-0" />
    <li>
      <a href="#" class="nav-link text-white d-flex justify-content-start">
        <i class="bi bi-house"></i>
        <span class="fs-4 d-none d-sm-inline">Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="d-flex justify-content-start align-items-center nav-link text-white"
      >
        <img
          src="../../../../assets/icons/dark/ver-articulos.png"
          alt="articulo nuevo"
          width="24px"
          height="24px"
        />
        <span class="fs-5 ms-3 d-none d-sm-inline">Ver Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="d-flex justify-content-start align-items-center nav-link text-white"
      >
        <img
          src="../../../../assets/icons/dark/agregar-destino.png"
          alt="articulo nuevo"
          width="24px"
          height="24px"
        />
        <span class="fs-5 ms-3 d-none d-sm-inline">Crear Usuario</span>
      </a>
    </li>
  </ul>
</div>
