<nav
  class="navbar-section side h-100 d-flex flex-column align-items-start justify-content-start px-3"
>
  <a class="navbar-brand py-4 m-0 flex-inline align-self-center">
    <img
      src="../../../../assets/icons/black/opciones-admin.png"
      alt="opciones administrador"
      width="62px"
      height="62px"
    />
  </a>
  <ul class="navbar-nav w-100">
    <li class="nav-item flex-row justify-content-start align-items-center my-2">
      <a
        class="nav-link active fs-5 fw-light"
        aria-current="page"
        routerLink="admin"
        ><img
          class="mx-2"
          src="../../../../assets/icons/black/turismo.png"
          alt="turismo"
          width="30px"
          height="30px"
        />Turismo</a
      >
    </li>
    <li class="nav-item flex-row justify-content-start align-items-center my-2">
      <a class="nav-link fs-5 fs-5 fw-light" routerLink="list-productos">
        <img
          class="mx-2"
          src="../../../../assets/icons/black/productos.png"
          alt="productos"
          width="30px"
          height="30px"
        />Productos</a
      >
    </li>
    <li class="nav-item flex-row justify-content-start align-items-center my-2">
      <a class="nav-link fs-5 fs-5 fw-light" routerLink="list-usuarios">
        <img
          class="mx-2"
          src="../../../../assets/icons/black/gestion-usuarios.png"
          alt="productos"
          width="30px"
          height="30px"
        />Usuarios</a
      >
    </li>
  </ul>
</nav>
