<!-- *CARRUSEL -->
<shared-carrusel></shared-carrusel>

<hr class="mt-3">
<div class="container-fluid row mt-2 p-2 pe-0 m-2 me-0">

  <div class="col-6 ms-6 align-text-center align-items-center">

    <div class="row mb-3 titulo-informacion">
      <p class="titulo">San Rafael de <br> Chiquipoguio</p>
    </div>

    <div class="row">
      <p>Te mostramos la guía de turismo oficial de la comunidad de San Rafael en Guano-Ecuador, un lugar que se encuentra rodeado por
        hermosas elevaciones como el volcán Chimborazo, el más alto
        del Ecuador y punto más cercano al Sol. ¡La Sultana de los
        Andes, te espera Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptate soluta sapiente alias nam omnis asperiores? Corrupti cum ipsa odio architecto nemo molestiae eum. Nisi velit ratione nesciunt incidunt consequatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus et praesentium magni qui, deleniti vero. Consequuntur illo non voluptatum tenetur, similique porro facilis numquam reprehenderit officiis accusantium voluptatem amet.</p>
    </div>
  </div>

  <div class="col-6 p-0">
      <img src="../../../../assets/pictures/default_foto_SanRafael.jpg"
           alt="San Rafael"
           class = "img-fluid rounded">
  </div>

</div>
<hr>
<!-- * PRODUCTOS -->
  <!-- Titulo con Enlace a Sección Productos -->
  <div class="container-fluid text-center mt-2 p-2 titulo-productos">
    <div class="row">
      <a routerLink="productos" routerLinkActive="active" class="p-0 text-decoration-none text-reset">
        <h1>PRODUCTOS</h1>
      </a>
    </div>

  </div>
  <!-- LISTADO PRODUCTOS -->
  <div class="container-fluid p-3">
    <app-list-card></app-list-card>
  </div>

<!-- * DESTINOS TURISTICOS -->

  <!-- Titulo con Enlace a Sección Destino -->
  <div class="container-fluid text-center mt-2 p-2 titulo-destino">
    <div class="row">
      <a routerLink="productos" routerLinkActive="active" class="p-0 text-decoration-none text-reset">
        <h1>DESTINOS TURÍSTICOS</h1>
      </a>
    </div>
  </div>
      <!-- LISTADO DESTINOS -->
  <div class="container-fluid p-3">
    <app-list-card-destino></app-list-card-destino>
    <app-list-card-destino></app-list-card-destino>
  </div>


