p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 0;
}

h3.titulo {
  text-align: left;
  font-weight: bolder;
}

hr {
  margin: 1px;
  padding: 2px;
  background-color: black;
  width: 300px;
}

.card{
  background-color: var(--primario);
  border: 0px;
  border-radius: 15px;
  width: 15rem;
  height: 18rem;
}

.card:hover{
  background-color: white;
  border: 1px solid var(--bs-gray-400);
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.card-img{
  height: 10rem;
  border-bottom: 1px solid var(--bs-gray-400);
  border-radius: 0px;
}

.info-container {
  position: relative;
  display: grid;
}
.info-img {
  display: inline;
  justify-self: end;
}
.info-text {
  position: absolute;
  z-index: 1;
  background-color: var(--primario);
}

img.info {
  height: 100%;
  object-fit: cover;
}

img.logo-card {
  height: 100%;
  object-fit: fill;
}

