.btn-form {
  background-color: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-800);
}

.btn-form:hover, .btn-form:active {
  border: 2px solid var(--bs-gray-800);
  background-color: white;
  font-weight: bolder;
}

.alert{
  color: #a94442;
}

.formulario{
  background-color: var(--secundario);
}

h2.titulo {
  background-color: white;
}

hr {
  margin: 1px;
  padding: 2px;
  background-color: black;
  width: 350px;
}

.ng-touched.ng-invalid:not(form){
  border-left: 5px solid #a94442; /* red */
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.titulo {
  background-color: white;
}
