<div class="container d-flex flex-column justify-content-center">
  <div class="row pt-2 mt-3 mb-3">
    <div class="col-10 pt-3 ps-5 pe-4 text-start">
      <div class="row mb-3">
        <p class="etiqueta">Etiqueta</p>
      </div>

      <div class="row mb-2 titulo-destinos">
        <p class="titulo">Nombre Destino Turístico</p>
      </div>
      <div class="d-flex mt-2 mb-2 p-0 justify-content-start">
        <hr class="mt-2" />
      </div>

      <div class="row mb-2">
        <app-carrusel-destinos></app-carrusel-destinos>
      </div>
      <div class="container-fluid row justify-content-start ps-3">
        <div class="col d-flex imagen p-0 align-items-center">
          <img
            src="../../../../assets/icons/light/like.png"
            alt="like"
            class="img-fluid"
          />
        </div>
        <p class="col mb-0 ps-3 etiqueta">:20</p>
      </div>

      <div class="row mt-3 mb-2 contenido">
        <p class="contenido p-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam id
          cumque, expedita ea, accusamus repudiandae tenetur veritatis illo
          maiores facilis cupiditate. Explicabo illum tempore porro beatae
          inventore quisquam esse eos. Nobis perferendis impedit explicabo cum
          sapiente quos, libero delectus consectetur corporis molestias dolorum
          sequi asperiores voluptatum iure esse, recusandae dolores laboriosam
          voluptatem voluptates? Nam similique, illum omnis ab repudiandae quam.
          Quaerat cupiditate, delectus reprehenderit omnis molestiae quam
          commodi expedita recusandae quos magnam. Natus aperiam recusandae
          error esse voluptatem laudantium, enim saepe. Distinctio
          exercitationem consequatur, laborum sequi error veniam excepturi
          harum? Doloremque sed nostrum quidem optio, incidunt at atque
          accusamus iusto vel tempora fuga exercitationem dicta blanditiis
          minima aut voluptatibus iure ipsum. Aperiam quis eius enim, sequi
          beatae recusandae soluta aliquid.
          <br />
          <br />
          Aliquam distinctio quia ab tempore ullam ducimus reprehenderit iste
          accusamus beatae, nesciunt, voluptate maxime! Ab a accusamus
          voluptate, odio quis, cupiditate labore voluptates odit repudiandae,
          dolor est at repellat tempore. Eius reiciendis, consequatur deserunt
          tempore ratione sunt facere alias nobis architecto recusandae
          accusantium illum maiores molestias beatae dignissimos eligendi,
          reprehenderit laborum dolore accusamus doloribus necessitatibus quis
          numquam rem. Iusto, libero? Corporis ipsum aliquid temporibus
          explicabo voluptates pariatur eveniet magnam maiores unde non, dolorem
          eaque labore reprehenderit. Consequatur nisi doloremque tempore atque
          minus dignissimos fugiat explicabo, assumenda iure iste a
          voluptatibus? Velit nihil quod quo animi, doloremque natus provident?
          Commodi, cumque! Quod ea architecto facilis, nostrum cupiditate alias
          omnis natus maiores nam similique? Id neque possimus temporibus
          repudiandae tempore ab ea.
          <br />
          Aliquam distinctio quia ab tempore ullam ducimus reprehenderit iste
          accusamus beatae, nesciunt, voluptate maxime! Ab a accusamus
          voluptate, odio quis, cupiditate labore voluptates odit repudiandae,
          dolor est at repellat tempore. Eius reiciendis, consequatur deserunt
          tempore ratione sunt facere alias nobis architecto recusandae
          accusantium illum maiores molestias beatae dignissimos eligendi,
          reprehenderit laborum dolore accusamus doloribus necessitatibus quis
          numquam rem. Iusto, libero? Corporis ipsum aliquid temporibus
          explicabo voluptates pariatur eveniet magnam maiores unde non, dolorem
          eaque labore reprehenderit. Consequatur nisi doloremque tempore atque
          minus dignissimos fugiat explicabo, assumenda iure iste a
          voluptatibus? Velit nihil quod quo animi, doloremque natus provident?
          Commodi, cumque! Quod ea architecto facilis, nostrum cupiditate alias
          omnis natus maiores nam similique? Id neque possimus temporibus
          repudiandae tempore ab ea.
          <br />
          <br />
          Aliquam distinctio quia ab tempore ullam ducimus reprehenderit iste
          accusamus beatae, nesciunt, voluptate maxime! Ab a accusamus
          voluptate, odio quis, cupiditate labore voluptates odit repudiandae,
          dolor est at repellat tempore. Eius reiciendis, consequatur deserunt
          tempore ratione sunt facere alias nobis architecto recusandae
          accusantium illum maiores molestias beatae dignissimos eligendi,
          reprehenderit laborum dolore accusamus doloribus necessitatibus quis
          numquam rem. Iusto, libero? Corporis ipsum aliquid temporibus
          explicabo voluptates pariatur eveniet magnam maiores unde non, dolorem
          eaque labore reprehenderit. Consequatur nisi doloremque tempore atque
          minus dignissimos fugiat explicabo, assumenda iure iste a
          voluptatibus? Velit nihil quod quo animi, doloremque natus provident?
          Commodi, cumque! Quod ea architecto facilis, nostrum cupiditate alias
          omnis natus maiores nam similique? Id neque possimus temporibus
          repudiandae tempore ab ea.
          <br />
          <br />
          Aliquam distinctio quia ab tempore ullam ducimus reprehenderit iste
          accusamus beatae, nesciunt, voluptate maxime! Ab a accusamus
          voluptate, odio quis, cupiditate labore voluptates odit repudiandae,
          dolor est at repellat tempore. Eius reiciendis, consequatur deserunt
          tempore ratione sunt facere alias nobis architecto recusandae
          accusantium illum maiores molestias beatae dignissimos eligendi,
          reprehenderit laborum dolore accusamus doloribus necessitatibus quis
          numquam rem. Iusto, libero? Corporis ipsum aliquid temporibus
          explicabo voluptates pariatur eveniet magnam maiores unde non, dolorem
          eaque labore reprehenderit. Consequatur nisi doloremque tempore atque
          minus dignissimos fugiat explicabo, assumenda iure iste a
          voluptatibus? Velit nihil quod quo animi, doloremque natus provident?
          Commodi, cumque! Quod ea architecto facilis, nostrum cupiditate alias
          omnis natus maiores nam similique? Id neque possimus temporibus
          repudiandae tempore ab ea. Aliquam distinctio quia ab tempore ullam
          ducimus reprehenderit iste accusamus beatae, nesciunt, voluptate
          maxime! Ab a accusamus voluptate, odio quis, cupiditate labore
          voluptates odit repudiandae, dolor est at repellat tempore. Eius
          reiciendis, consequatur deserunt tempore ratione sunt facere alias
          nobis architecto recusandae accusantium illum maiores molestias beatae
          dignissimos eligendi, reprehenderit laborum dolore accusamus doloribus
          necessitatibus quis numquam rem. Iusto, libero? Corporis ipsum aliquid
          temporibus explicabo voluptates pariatur eveniet magnam maiores unde
          non, dolorem eaque labore reprehenderit. Consequatur nisi doloremque
          tempore atque minus dignissimos fugiat explicabo, assumenda iure iste
          a voluptatibus? Velit nihil quod quo animi, doloremque natus
          provident? Commodi, cumque! Quod ea architecto facilis, nostrum
          cupiditate alias omnis natus maiores nam similique? Id neque possimus
          temporibus repudiandae tempore ab ea.
        </p>
      </div>
    </div>

    <div class="col-2">
      <div class="row text-center titulo-destinos">
        <p>Otros Destinos</p>
      </div>
      <div class="d-flex justify-content-center">
        <hr class="m-2" />
      </div>
      <div class="row">
        <!-- <section-column-destino></section-column-destino> -->
      </div>

      <div class="row text-center titulo-productos mt-5">
        <p>Productos</p>
      </div>

      <div class="d-flex justify-content-center">
        <hr class="m-2" />
      </div>
      <div class="row">
        <!-- <section-column-producto></section-column-producto> -->
      </div>
    </div>
  </div>
</div>
