<div class="card" style="width: 18rem;">
  <img src="../../../../assets/pictures/default_foto_producto.jpg" class="card-img-top" alt="...">

  <a routerLink="articulo-destino" class="p-0 text-decoration-none text-reset">
    <div class="card-body">
        <p class="card-text m-1">Etiqueta</p>
        <p class="card-text m-1 nombre">Nombre del Producto</p>
        <div class="container-fluid row justify-content-start">
          <div class="col imagen p-0">
            <img src="../../../../assets/icons/light/like.png"
              alt="like"
              class="img-fluid"
          >
          </div>
          <p class="col mb-0 ps-1">:20</p>
        </div>
      </div>
  </a>

</div>
