<div class="container p-5 pt-3">
  <div class="text-center py-3 titulo">
    <h2 class="fw-bolder py-2">COSTO DEL TOUR A LA RUTA PIEDRA DE BOLÍVAR</h2>
  </div>

  <div class="container d-flex flex-column align-items-center my-3">
    <table>
      <tr>
        <th colspan="6" class="text-center">COSTOS GENERALES</th>
      </tr>
      <tr>
        <th></th>
        <th>Precio USD</th>
        <th>1-2 max</th>
        <th>3-4 max</th>
        <th>5-6 max</th>
        <th>7-10 max</th>
      </tr>
      <tr>
        <th>Transporte</th>
        <td>$50.00</td>
        <td>$50.00</td>
        <td>$50.00</td>
        <td>$100.00</td>
        <td>$150.00</td>
      </tr>
      <tr>
        <th>Guianza</th>
        <td>$80.00</td>
        <td>$80.00</td>
        <td>$80.00</td>
        <td>$120.00</td>
        <td>$150.00</td>
      </tr>
      <tr class="table-total fw-bold">
        <th>Total Costos Generales</th>
        <td></td>
        <td>$65.00</td>
        <td>$32.50</td>
        <td>$36.67</td>
        <td>$42.86</td>
      </tr>
      <tr>
        <th colspan="6" class="text-center">COSTOS INDIVIDUALES</th>
      </tr>
      <tr>
        <th></th>
        <th>Precio USD</th>
        <th>1-2 max</th>
        <th>3-4 max</th>
        <th>5-6 max</th>
        <th>7-10 max</th>
      </tr>
      <tr>
        <th>Entradas a lugares de visita</th>
        <td>$0.50</td>
        <td>$1.00</td>
        <td>$2.00</td>
        <td>$3.00</td>
        <td>$3.50</td>
      </tr>
      <tr>
        <th>Carpas, sleeping, aislante (Equipamiento)</th>
        <td>$25.00</td>
        <td>$25.00</td>
        <td>$25.00</td>
        <td>$25.00</td>
        <td>$50.00</td>
      </tr>
      <tr>
        <th>
          Alimentación tradicional (3) <br />
          Merienda, box lunch, desayuno
        </th>
        <td>$15.00</td>
        <td>$30.00</td>
        <td>$60.00</td>
        <td>$90.00</td>
        <td>$105.00</td>
      </tr>
      <tr>
        <th>Alimentación tipo menú (2)</th>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>$20.00</td>
        <td>30.00</td>
        <td>35.00</td>
      </tr>
      <tr>
        <th>Equinos</th>
        <td>$25.00</td>
        <td>$50.00</td>
        <td>$100.00</td>
        <td>$150.00</td>
        <td>$175.00</td>
      </tr>
      <tr>
        <th>Arrieros con equipamento (Protecciones)</th>
        <td>$25.00</td>
        <td>$25.00</td>
        <td>$25.00</td>
        <td>$50.00</td>
        <td>$75.00</td>
      </tr>
      <tr class="table-total">
        <th>Total costos individuales</th>
        <td></td>
        <td>$141.00</td>
        <td>$232.00</td>
        <td>$348.00</td>
        <td>$443.50</td>
      </tr>
      <tr class="table-total fw-bold">
        <th>Total Costos</th>
        <td></td>
        <td>$206.00</td>
        <td>$264.50</td>
        <td>$384.67</td>
        <td>$486.36</td>
      </tr>
      <tr>
        <th colspan="6" class="text-center">GASTOS ADMINISTRATIVOS</th>
      </tr>
      <tr>
        <th></th>
        <th>Precio USD</th>
        <th>1-2 max</th>
        <th>3-4 max</th>
        <th>5-6 max</th>
        <th>7-10 max</th>
      </tr>
      <tr>
        <th>
          Documentos legales de operación: <br />
          Patente, registro en el SIB
        </th>
        <td>$5.00</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>$10.00</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <th>Seguro (10%)</th>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>$20.00</td>
        <td>$30.00</td>
        <td>$35.00</td>
      </tr>
      <tr>
        <th>Operadora de turismo (10%)</th>
        <td></td>
        <td>$20.60</td>
        <td>$26.45</td>
        <td>$38.47</td>
        <td>$48.64</td>
      </tr>
      <tr class="table-total">
        <th>Total de gastos</th>
        <td></td>
        <td>$35.60</td>
        <td>$56.45</td>
        <td>$78.47</td>
        <td>$93.64</td>
      </tr>
      <tr class="table-total fw-bold">
        <th>Total costos y gastos</th>
        <td></td>
        <td>$241.60</td>
        <td>$320.95</td>
        <td>$463.13</td>
        <td>$579.99</td>
      </tr>
      <tr>
        <th>IVA (12%)</th>
        <td></td>
        <td>$28.99</td>
        <td>$38.51</td>
        <td>$55.58</td>
        <td>$69.60</td>
      </tr>
      <tr class="table-total-general fw-bold">
        <th>TOTAL</th>
        <td></td>
        <td>$270.59</td>
        <td>$359.46</td>
        <td>$518.71</td>
        <td>$649.59</td>
      </tr>
    </table>
  </div>

  <img
    src="./../../../../../assets/icons/black/costo-ruta.png"
    alt="caracteristicas ruta"
    class="caract-img"
  />

  <img
    src="./../../../../../assets/icons/black/costo-ruta.png"
    alt="caracteristicas ruta"
    class="caract-img-2"
  />

  <!-- --------------------------------------- CARDS -->
  <div class="container row mt-4">
    <div class="d-flex flex-row justify-content-evenly mx-2 p-4 mt-3">
      <!-- ------------------------------CARACTERISTICAS -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a routerLink="/caracteristica-ruta" class="text-reset text-decoration-none">
            <div class="d-flex flex-column card-inf">
              <span
                class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
              >
                <h3 class="m-0 fw-bolder fs-5">
                  Caracterización de la Ruta Piedra de Bolívar
                </h3>
                <img
                  src="../../../../../assets/icons/black/catacteristicas-ruta.png"
                  alt="icono costos"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class="card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>
      <!-- ------------------------------PAQUETE -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a routerLink="/paquete-ruta" class="text-reset text-decoration-none">
            <div class="d-flex flex-column card-inf">
              <span
                class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
              >
                <h3 class="m-0 fw-bolder fs-5">
                  Paquete de la Ruta Piedra de Bolivar
                </h3>
                <img
                  src="../../../../assets/icons/black/paquete-ruta.png"
                  alt="icono paquete"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class="card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
