<!-- <div class="row row-cols-4 p-3">
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
</div>

<div class="row row-cols-4 p-3">
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
</div>

<div class="row row-cols-4 p-3">
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
  <app-card-producto class="d-flex justify-content-center"></app-card-producto>
</div> -->
