<div class="row row-cols-4 p-3">
  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>
</div>

<div class="row row-cols-4 p-3">
  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>
</div>

<div class="row row-cols-4 p-3">
  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>

  <shared-card class="d-flex justify-content-center"></shared-card>
</div>
