<div class="container p-5 pt-3">
  <div class="text-center py-3 titulo">
    <h2 class="fw-bolder py-2">PAQUETE DE LA RUTA PIEDRA DE BOLÍVAR</h2>
  </div>

  <div class="container d-flex flex-column align-items-center my-3">
    <!-- ---------------------------- Información -->
    <table>
      <tr>
        <td><span class="fw-bolder">Código: </span>006</td>
        <td><span class="fw-bolder">Estilo: </span>Caminata</td>
      </tr>
      <tr>
        <td><span class="fw-bolder">Idioma de guianza: </span>Español</td>
        <td><span class="fw-bolder">Duración: </span>2 días, 1 noche</td>
      </tr>
      <tr>
        <td>
          <span class="fw-bolder">Recorrido: </span>Piedra de Bolívar - Portal
          Andino
        </td>
        <td><span class="fw-bolder">Carácter: </span>Aventura</td>
      </tr>
      <tr>
        <td>
          <span class="fw-bolder">Mercado objetivo: </span>Turismo nacional -
          internacional
        </td>
        <td><span class="fw-bolder">Grado de dificultad: </span>Medio</td>
      </tr>
      <tr>
        <td>
          <span class="fw-bolder">Tiempo de actividades: </span> Día 1 de 7:00
          am a 19:00 pm. Día 2 de 6:30 am a 16:00pm
        </td>
        <td>
          <span class="fw-bolder">Número de personas: </span>Mínimo 2 personas,
          máximo 10 personas
        </td>
      </tr>
    </table>

    <!-- ---------------------------- Itinerario -->
    <table class="my-3">
      <tr class="text-center">
        <th colspan="3" class="fs-4">ITINERARIO</th>
      </tr>
      <tr>
        <th>Día</th>
        <th>Hora</th>
        <th>Actividades</th>
      </tr>
      <tr>
        <th rowspan="16">1</th>
        <th>07:00am</th>
        <td>Concentración y bienvenida en Riobamba</td>
      </tr>
      <tr>
        <th>07:20am</th>
        <td>Salida a la parroquia de San Andrés</td>
      </tr>
      <tr>
        <th>07:45am</th>
        <td>Desayuno en el restaurante “Casa vieja”</td>
      </tr>
      <tr>
        <th rowspan="3">09:00am</th>
        <td>Recorrido por los atractivos del centro parroquial</td>
      </tr>
      <tr>
        <td>
          A) Mural de San Andrés, Monumento de San Andrés, Mirador de San
          Andrés.
        </td>
      </tr>
      <tr>
        <td>B) Iglesia de San Andrés, Laguna Verde.</td>
      </tr>
      <tr>
        <th>10:00am</th>
        <td>Traslado a la comunidad de San Rafael de Chuquipogyo</td>
      </tr>
      <tr>
        <th>10:45am</th>
        <td>Observación de artesanías</td>
      </tr>
      <tr>
        <th>11:15am</th>
        <td>Almuerzo en el centro de turismo comunitario.</td>
      </tr>
      <tr>
        <th>12:30pm</th>
        <td>Inicio de cabalgata hacia lagunas mágicas</td>
      </tr>
      <tr>
        <th>14:00pm</th>
        <td>Llegada a las lagunas/observación e interpretación del paisaje</td>
      </tr>
      <tr>
        <th>15:45pm</th>
        <td>Camping en la base de la Piedra Negra.</td>
      </tr>
      <tr>
        <th>17:00pm</th>
        <td>Caminata al mirador de la Arista del Sol</td>
      </tr>
      <tr>
        <th>18:00pm</th>
        <td>Retorno al campamento y cena</td>
      </tr>
      <tr>
        <th>18:45pm</th>
        <td>Noche cultural/Astrofotografías</td>
      </tr>
      <tr>
        <th>19:30pm</th>
        <td>Descanso y fin del primer día</td>
      </tr>
      <tr>
        <th>Día</th>
        <th>Hora</th>
        <th>Actividades</th>
      </tr>
      <tr>
        <th rowspan="8">2</th>
        <th>06:30am</th>
        <td>Desayuno</td>
      </tr>
      <tr>
        <th>07:30am</th>
        <td>Caminata a la Piedra Negra</td>
      </tr>
      <tr>
        <th>09:30am</th>
        <td>Retorno a la zona de camping</td>
      </tr>
      <tr>
        <th>11:00am</th>
        <td>Caminata de descenso a la parroquia</td>
      </tr>
      <tr>
        <th>13:00pm</th>
        <td>Visita a los Picapedreros</td>
      </tr>
      <tr>
        <th>14:00pm</th>
        <td>Arribo al centro poblado de San Andrés y almuerzo</td>
      </tr>
      <tr>
        <th>15:30pm</th>
        <td>Evaluación de satisfacción del viaje a los turistas</td>
      </tr>
      <tr>
        <th>16:00pm</th>
        <td>Despedida y fin del tour</td>
      </tr>
    </table>

    <!-- ---------------------------- Descripción del paquete -->
    <table class="my-4">
      <tr>
        <th colspan="2" class="text-center fs-4">DESCRIPCIÓN DEL PAQUETE</th>
      </tr>
      <tr>
        <th>El paquete incluye</th>
        <td>
          Transporte <br />
          Hospedaje (Equipamiento) Camping (carpa, bolsa de dormir, aislante,
          linterna frontal) <br />
          Alimentación (2 desayunos, 2 almuerzos, 1 merienda y 1 box lunch)
          <br />
          Guianza (Guía nativo o guía nacional especializado) <br />
          Caballos y arrieros con equipo de protección <br />
          Material informativo y botiquín de primeros auxilios
        </td>
      </tr>
      <tr>
        <th>El paquete no incluye</th>
        <td>
          Vestimenta (tres capas), guantes, gafas, protector solar, mochila,
          gorras <br />
          Gastos individuales o personales <br />
          Comida o bebidas extras <br />
          Productos extras o souvenirs
        </td>
      </tr>
      <tr>
        <th>Observaciones</th>
        <td>
          El paquete está diseñado para turistas interesados en la naturaleza,
          flora, fauna, aventura y turismo comunitario
        </td>
      </tr>
      <tr>
        <th>Requerimientos</th>
        <td>
          Documentos personales para el registro de clientes <br />
          Ropa abrigada y cómoda (adecuada) <br />
          Protector solar <br />
          Gafas, gorra, guantes <br />
          Cámara fotográfica <br />
          Otros que el cliente considere necesarios
        </td>
      </tr>
      <tr>
        <th>Normas de comportamiento</th>
        <td>
          Respeto a la naturaleza y los grupos sociales <br />
          No botar basura <br />
          No sustraerse biodiversidad de la zona <br />
          No causar perjuicios a las zonas de visita <br />
          Normas de comportamiento dentro de la RPFCH
        </td>
      </tr>
      <tr>
        <th>Restricciones para el viaje</th>
        <td>
          Objetos de valor que no se hayan registrado <br />
          Armas de fuego <br />
          Armas cortopunzantes <br />
          Drogas, joyas <br />
          Bebidas alcohólicas <br />
          Cigarrillos
        </td>
      </tr>
      <tr>
        <th>Facilidades y servicios turísticos</th>
        <td>
          Transporte, alimentación, hospedaje y guianza <br />
          Senderos y señalética
        </td>
      </tr>
    </table>
  </div>

  <img
    src="./../../../../../assets/icons/black/paquete-ruta.png"
    alt="caracteristicas ruta"
    class="caract-img"
  />

  <img
    src="./../../../../../assets/icons/black/paquete-ruta.png"
    alt="caracteristicas ruta"
    class="caract-img-2"
  />

  <!-- --------------------------------------- CARDS -->
  <div class="container row mt-4">
    <div class="d-flex flex-row justify-content-evenly mx-2 p-4 mt-3">
      <!-- ------------------------------CARACTERISTICAS -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a
            routerLink="/caracteristica-ruta"
            class="text-reset text-decoration-none"
          >
            <div class="d-flex flex-column card-inf">
              <span
                class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
              >
                <h3 class="m-0 fw-bolder fs-5">
                  Caracterización de la Ruta Piedra de Bolívar
                </h3>
                <img
                  src="../../../../../assets/icons/black/catacteristicas-ruta.png"
                  alt="icono costos"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class="card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>
      <!-- ------------------------------COSTOS -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a routerLink="/costo-ruta" class="text-reset text-decoration-none">
            <div class="d-flex flex-column card-inf">
              <span
                class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
              >
                <h3 class="m-0 fw-bolder fs-5">
                  Costos de la Ruta Piedra de Bolivar
                </h3>
                <img
                  src="../../../../../assets/icons/black/costo-ruta.png"
                  alt="icono paquete"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class="card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
