<div class="container px-5 mt-4">
  <h2 class="text-center mt-2 mx-2 px-2 py-3 titulo">LISTADO DE ACTIVIDADES</h2>

  <!-- ------------------------------------------------------- BUSQUEDA -->
  <div class="container row mt-3 mb-2 px-5 pt-4">
    <div class="col-8 d-flex flex-row align-items-center">
      <span class="text-nowrap fs-5">Buscar actividad:</span>
      <div class="w-100 ps-2 py-2">
        <form autocomplete="off">
          <input
            type="text"
            name="termino"
            class="form-control"
            placeholder="Ingrese nombre de la actividad..."
          />
        </form>
      </div>
    </div>
<!-- --------------------------------------------------------- NUEVO -->
    <div class="col-4 d-flex flex-row align-items-center justify-content-end">
      <button class="btn crear" type="button">
        <span class="pe-1">Nuevo</span>
      <img
        src="../../../../assets/icons/black/crear.png"
        alt="crear actividad"
        width="25px"
        height="25px"
      />
      </button>

    </div>
  </div>


  <!-- ---------------------------------------------------- TABLA -->
  <div class="table-responsive-md mt-1 mb-3 pt-2 p-4 rounded-3">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Imagen</th>
          <th>Nombre</th>
          <th>Etiqueta</th>
          <th>Likes</th>
          <th>Precio</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"></td>
          <td
            class="d-flex flex-row flex-wrap justify-content-center align-items-center"
          >
            <img src="" alt="portada" class="img-thumbnile img-resumen" />
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <button class="btn delete">
              <img
                src="../../../../../assets/icons/light/editar.png"
                alt="editar"
                width="24px"
              />
            </button>
            <button class="btn delete ps-4">
              <img
                src="../../../../../assets/icons/light/basura.png"
                alt="borrar"
                width="24px"
              />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- --------------------------------------------------------- PAGINADO -->
  <nav>
    <ul *ngIf="countEntities > 0" class="pagination justify-content-center">
      <li
        *ngIf="pagina === 1; else anterior"
        class="page-item disabled paginado"
      >
        <a class="page-link"> Anterior </a>
      </li>
      <ng-template #anterior>
        <li class="page-item paginado">
          <a (click)="cambiarPagina(-1)" class="btn page-link"> Anterior </a>
        </li>
      </ng-template>
      <li class="page-item disabled paginado">
        <a class="page-link"> Página {{ pagina }} </a>
      </li>

      <li *ngIf="!next; else siguiente" class="page-item disabled paginado">
        <a class="page-link"> Siguiente </a>
      </li>

      <ng-template #siguiente>
        <li class="page-item paginado">
          <a (click)="cambiarPagina(1)" class="btn page-link"> Siguiente </a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>

<!-- <div class="table-responsive-md mt-1 mb-3 pt-2 p-4 rounded-3">
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Imagen</th>
        <th>Nombre</th>
        <th>Etiqueta</th>
        <th>Likes</th>
        <th>Precio</th>
        <th class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let destino of this.articulos">
        <td class="text-center">{{ destino.id_articulo}}</td>
        <td
          class="d-flex flex-row flex-wrap justify-content-center align-items-center"
        >
          <img
            src="{{ destino.Imagenes[0].url_imagen }}"
            alt="portada"
            class="img-thumbnile img-resumen"
          />
        </td>
        <td>{{destino.nombres_articulo}}</td>
        <td>{{destino.etiqueta_articulo}}</td>
        <td>{{destino.likes_articulo}}</td>
        <td>{{destino.Producto?.precio_producto}}</td>
        <td class="text-center">
          <button class="btn delete">
            <img
              src="../../../../../assets/icons/light/editar.png"
              alt="editar"
              width="24px"
            />
          </button>
          <button class="btn delete ps-4">
            <img
              src="../../../../../assets/icons/light/basura.png"
              alt="borrar"
              width="24px"
            />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
