<div class="container p-5 pt-3">
  <div class="text-center py-3 titulo">
    <h2 class="fw-bolder py-2">CARACTERIZACIÓN DE LA RUTA PIEDRA DE BOLÍVAR</h2>
  </div>

  <div class="container d-flex flex-column align-items-center my-3">
    <table>
      <tr>
        <th>Nombre de la ruta</th>
        <td>Piedra de BolÍvar - Arista del Sol</td>
      </tr>
      <tr>
        <th>Modalidad</th>
        <td>Alta-Montaña</td>
      </tr>
      <tr>
        <th>Nivel Técnico y dificultad</th>
        <td>PD</td>
      </tr>
      <tr>
        <th rowspan="2">Tiempo recorrido</th>
        <td>Ascenso: 7 - 10</td>
      </tr>
      <tr>
        <td>Descenso: 3 - 5</td>
      </tr>
      <tr>
        <th>Nivel físico requerido</th>
        <td>
          Nivel físico requerido Medio - Alto (previa una excelente
          aclimatación)
        </td>
      </tr>
      <tr>
        <th rowspan="3">Equipo necesario:</th>
        <td>
          Equipo Técnico: Casco, linterna frontal, gafas para glaciar y para
          viento, botas de altamontaña, bastones de trekking.
        </td>
      </tr>
      <tr>
        <td>
          Equipo Accesorio: pasamontañas, gorra de lana,1 capa vestimenta
          rompevientos/impermeable, 1 capas de vestimenta térmica, 1 par de
          guantes internos y un 1 par de guantes mitones, medias térmicas,
          polainas, bloqueador solar.
        </td>
      </tr>
      <tr>
        <td>Recomendación: La ropa no debe ser de algodón.</td>
      </tr>
      <tr>
        <th rowspan="2">Cotas</th>
        <td>Máxima: 4.920 m.s.n.m</td>
      </tr>
      <tr>
        <td>Minima: 4.800 m.s.n.m</td>
      </tr>
      <tr>
        <th rowspan="3">Desnivel (m)</th>
        <td>Subida: 1.463 m.s.n.m</td>
      </tr>
      <tr>
        <td>Bajada: 1.463 m.s.n.m</td>
      </tr>
      <tr>
        <td>Total: 2.926 m.s.n.m</td>
      </tr>
      <tr>
        <th>Distancia de la ruta:</th>
        <td>24 Km</td>
      </tr>
      <tr>
        <th>Lugar de partida:</th>
        <td>San Andrés</td>
      </tr>
      <tr>
        <th>Lugar de llegada:</th>
        <td>Piedra de Bolívar -Arista del Sol</td>
      </tr>
      <tr>
        <th>Época recomendada:</th>
        <td>Todo el año</td>
      </tr>
      <tr>
        <th>Tipo de superficie:</th>
        <td>Rocoso</td>
      </tr>
      <tr>
        <th>Temperatura Ambiente:</th>
        <td>Mínima:11 °C Máxima: 15 °C</td>
      </tr>
      <tr>
        <th>Precipitación media Anual:</th>
        <td>1619 mm</td>
      </tr>
      <tr>
        <th>Requerimiento de Guía:</th>
        <td>Obligatorio - Guía especializado en altamontaña o guía local</td>
      </tr>
      <tr>
        <th>Localización Geográfica:</th>
        <td>RPFCH</td>
      </tr>
      <tr>
        <th>Acceso:</th>
        <td>Vía carrozable-caminata</td>
      </tr>
      <tr>
        <th>Recorrido:</th>
        <td>
          San Rafael de Chuquipogyo, Centro de operación turística Artesa,
          Piedra Negra
        </td>
      </tr>
      <tr>
        <th>Equipo necesario:</th>
        <td>Botiquín de primeros auxilios</td>
      </tr>
      <tr>
        <th>Hidratación:</th>
        <td>Mínimo de 2 litros</td>
      </tr>
      <tr>
        <th>Prestadores de servicios cercanos:</th>
        <td>
          Artesa (Hospedaje, alimentación, artesanía, guianza y porteadores)
        </td>
      </tr>
      <tr>
        <th>Lugares cercanos de ayuda:</th>
        <td>
          Números de Emergencia: Grupo de Rescate ASEGUIM 0998341809,0992536922 - Ecu 911
        </td>
      </tr>
      <tr>
        <th>IMPORTANTE</th>
        <td>Radios Handy 2 y GPS en el equipo</td>
      </tr>
    </table>
  </div>

  <img src="./../../../../../assets/icons/black/catacteristicas-ruta.png" alt="caracteristicas ruta" class="caract-img">

  <img src="./../../../../../assets/icons/black/catacteristicas-ruta.png" alt="caracteristicas ruta" class="caract-img-2">

  <!-- --------------------------------------- CARDS -->
  <div class="container row mt-3 ">
    <div class="d-flex flex-row justify-content-evenly mx-2 p-4 mt-3">
      <!-- ------------------------------PAQUETE -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a routerLink="/paquete-ruta" class="text-reset text-decoration-none">
            <div
              class="d-flex flex-column card-inf"
            >
              <span class="card-header d-flex flex-row align-items-center justify-content-between pe-4">
                <h3 class="m-0 fw-bolder fs-5">Paquete de la Ruta Piedra de Bolívar</h3>
                <img
                  src="../../../../assets/icons/black/paquete-ruta.png"
                  alt="icono paquete"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class=" card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>

      <!-- ------------------------------COSTOS -->
      <div class="col-6 px-4">
        <div class="card py-2 px-2">
          <a routerLink="/costo-ruta" class="text-reset text-decoration-none">
            <div
              class="d-flex flex-column card-inf"
            >
              <span class="card-header d-flex flex-row align-items-center justify-content-between pe-4">
                <h3 class="m-0 fw-bolder fs-5">Costos de la Ruta Piedra de Bolívar</h3>
                <img
                  src="../../../../assets/icons/black/costo-ruta.png"
                  alt="icono costos"
                  width="40px"
                  height="40px"
                />
              </span>

              <span
                class=" card-body d-flex flex-row align-items-center justify-content-evenly"
              >
                <p class="fs-5">Leer <i class="bi bi-caret-right"></i></p>
              </span>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
