<header class="container-fluid p-3">
  <div class="row align-items-center">
    <!-- ------------------------------------------------------- LOGO -->
    <div class="col-2">
      <a routerLink="home">
        <img src="../../../../assets/icons/light/logoGuano.png" alt="logoGuano" class="logo">
      </a>
    </div>
    <!-- ------------------------------------------------------- BUSQUEDA -->
    <div class="col-6 ps-2">
      <form autocomplete="off">
        <input
          routerLink="busqueda"
          routerLinkActive="active"
          type="text"
          name="termino"
          class="form-control"
          placeholder="Busca aquí..."
          image = '../../../../assets/icons/light/lupa.png'
        />
      </form>
    </div>

  <!-- ----------------------------------------------------- SECTIONS -->
    <div class="col-1 p-0 section">
      <div class="p-1 m-0">
        <a routerLink="destinos" class="text-decoration-none text-reset">
          <img src="../../../../assets/icons/light/maps.png" alt="destinos" class="carrito">
          <p class="m-0" >Destinos</p>
        </a>
      </div>

    </div>

    <div class="col-1 p-1 section">
      <a routerLink="productos" class="text-decoration-none text-reset">
        <img src="../../../../assets/icons/light/productos.png" alt="productos" class="carrito">
        <p class="m-0 fw-small" >Productos</p>
      </a>
    </div>

    <div class="col-1 p-1 section">
      <a routerLink="contactenos" class="text-decoration-none text-reset">
        <img src="../../../../assets/icons/light/email.png" alt="contactenos" class="carrito">
        <p class="m-0 fw-small" >Contactenos</p>
      </a>
    </div>

    <div class="col-1 p-1 section">
      <a routerLink="admin" class="text-decoration-none text-reset">
        <img src="../../../../assets/icons/light/usuario.png" alt="home" class="carrito">
        <p class="m-0 fw-small" >Iniciar Sesión</p>
      </a>
    </div>

  </div>

</header>
