<div class="container px-5 mt-4">
  <h2 class="text-center mt-2 mx-2 px-2 py-3 titulo">LISTADO DE USUARIOS</h2>

  <!-- ------------------------------------------------------- BUSQUEDA -->
  <div class="container row mt-3 mb-2 px-5 pt-4">
    <!-- --------------------------------------------------------- OPCIONES GENERALES -->
    <div class="d-flex flex-row align-items-center justify-content-center"  >
      <button class="btn crear me-2" type="button" (click)="recargarTabla()">
        <span class="pe-1 fs-6">Recargar</span>
        <img
          src="../../../../assets/icons/black/recargar.png"
          alt="recargar actividad"
          width="15px"
          height="15px"
        />
      </button>
      <button class="btn crear ms-2" type="button" (click)="crearUsuario()">
        <span class="pe-1 fs-6">Nuevo</span>
        <img
          src="../../../../assets/icons/black/crear.png"
          alt="crear actividad"
          width="16px"
          height="17px"
        />
      </button>
    </div>
  </div>

  <!-- ---------------------------------------------------- TABLA -->
  <div class="table-responsive-md mt-1 mb-1 pt-2 px-4 py-2 rounded-3">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td class="text-center">{{ usuario.id_usuario }}</td>
          <td>{{ usuario.nombres_usuario }}</td>
          <td>{{ usuario.apellidos_usuario }}</td>
          <td>{{ usuario.email_usuario }}</td>
          <td class="text-center">
            <button class="btn delete">
              <img
                src="../../../../assets/icons/black/editar.png"
                alt="editar"
                width="20px"
                (click)="editarUsuario(usuario.id_usuario)"
              />
            </button>
            <button class="btn delete ps-4">
              <img
                src="../../../../assets/icons/black/basura.png"
                alt="borrar"
                width="20px"
                (click)="deleteUsuario(usuario.id_usuario)"
              />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- --------------------------------------------------------- PAGINADO -->
  <nav>
    <ul *ngIf="countEntities > 0" class="pagination justify-content-center">
      <li
        *ngIf="pagina === 1; else anterior"
        class="page-item disabled paginado"
      >
        <a class="page-link"> Anterior </a>
      </li>
      <ng-template #anterior>
        <li class="page-item paginado">
          <a (click)="cambiarPagina(-1)" class="btn page-link"> Anterior </a>
        </li>
      </ng-template>
      <li class="page-item disabled paginado">
        <a class="page-link"> Página {{ pagina }} </a>
      </li>

      <li *ngIf="!next; else siguiente" class="page-item disabled paginado">
        <a class="page-link"> Siguiente </a>
      </li>

      <ng-template #siguiente>
        <li class="page-item paginado">
          <a (click)="cambiarPagina(1)" class="btn page-link"> Siguiente </a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>
