.imagen {
  max-width: 20px;
}

.card-body {
  background-color: var(--primario);
}

.card-body:hover {
  background-color: #E3F2EB;
}

p{
  font-size: medium;
}

p.nombre {
  font-weight: bold;
  font-size: larger;
}
