
<div class="container-fluid p-0">
  <!-- HEADER  -->
  <shared-header class="sticky-top"></shared-header>

  <!-- SECTION HOME-->
  <!-- <sections-home></sections-home> -->

  <!-- SECTION DESTINOS -->
  <!-- <sections-destinos></sections-destinos> -->

  <!-- SECTION PRODUCTOS -->
  <!-- <sections-productos></sections-productos> -->

  <!-- SECTION ARTICULOS  -->
  <!-- <sections-articulo-destinos></sections-articulo-destinos> -->

  <!-- SECTION ARTICULOS  -->
  <!-- <section-contactenos></section-contactenos> -->

  <router-outlet></router-outlet>

  <!-- FOOTER-->
  <shared-footer></shared-footer>


</div>



