<footer class="container-fluid row p-4 mt-3">
  <div class="col">
      <img src="../../../../assets/icons/light/logoGuano.png" alt="logo guano" class="logo">
  </div>
  <div class="container-fluid col">
      <h4>Redes Sociales</h4>
      <a href="https://www.facebook.com/gadmunicipalguano" target="_blank">
          <img src="../../../../assets/icons/light/facebook.png" alt="facebook" class="redes">
      </a>
      <a href="https://www.instagram.com/gadmunicipalguano" target="_blank" >
          <img src="../../../../assets/icons/light/instagram.png" alt="instagram" class="redes">
      </a>
  </div>
  <div class="col navegacion">
      <h4>Mapa del Sitio</h4>
      <nav class="nav flex-column">
          <a routerLink="home">Inicio</a>
          <a routerLink="destinos">Destinos</a>
          <a routerLink="productos">Productos</a>
          <a routerLink="contactenos">Contactenos</a>
      </nav>
  </div>
  <div class="col">
      <h4>Celular</h4>
      <p>(+593) 09 999 9999</p>
      <h4>Correo Electrónico</h4>
      <p>sanrafael@gmail.com</p>
  </div>
  <div class="col">
      <h4>Dirección</h4>
      <p>San Rafael de Chiquipoguio <br> Guano, Ecuador</p>
  </div>
</footer>
