<footer class="container-fluid row p-2">
  <div class="col">
    <img
      src="../../../../assets/icons/black/logo.png"
      alt="logo guano"
      class="logo"
    />
  </div>
  <div class="col">
    <h4 class="fw-medium">Redes Sociales</h4>
    <a
      class="mx-1"
      href="https://www.facebook.com/vidolacec?mibextid=ZbWKwL"
      target="_blank"
    >
      <img
        src="../../../../assets/icons/white/facebook.png"
        alt="facebook"
        class="redes"
      />
    </a>
    <a
      class="mx-1"
      href="https://www.instagram.com/gadmunicipalguano"
      target="_blank"
    >
      <img
        src="../../../../assets/icons/white/instagram.png"
        alt="instagram"
        class="redes"
      />
    </a>
    <a class="mx-1" href="https://bit.ly/ASOPROCARSR" target="_blank">
      <img
        src="../../../../assets/icons/white/whatsapp.png"
        alt="instagram"
        class="redes"
      />
    </a>
    <a class="mx-1" href="https://bit.ly/ASOPROCARSR" target="_blank">
      <img
        src="../../../../assets/icons/white/telegram.png"
        alt="instagram"
        class="redes"
      />
    </a>
  </div>
  <div class="col navegacion">
    <h4 class="fw-medium">Mapa del Sitio</h4>
    <nav class="nav flex-column">
      <a routerLink="">Inicio</a>
      <a routerLink="turismo">Turismo</a>
      <a routerLink="productos">Productos</a>
      <a routerLink="contactenos">Contactenos</a>
    </nav>
  </div>
  <div class="col">
    <h4 class="fw-medium">Celular</h4>
    <p>+593 99 570 2499</p>
    <h4 class="fw-medium">Correo Electrónico</h4>
    <p>asoprogarvidolacadmn@gmail.com</p>
  </div>
  <div class="col">
    <h4 class="fw-medium">Dirección</h4>
    <p>
      San Rafael de Chiquipogyo <br />
      Guano, Ecuador
    </p>
  </div>
</footer>
