<div class="container d-flex flex-column p-0">
  <div class="text-center py-3 titulo">
    <h2 class="fw-bolder py-2">NUESTRAS RUTAS</h2>
  </div>
  <!-- ----------------------------------------------------- INFO RUTA PIEDRA BOLIVAR -->
  <div class="container row mt-5 p-0 info-container">
    <!-- -------------------------------------TEXTO -->
    <div class="col-6 p-5 pt-2 info-text">
      <div class="row mb-1">
        <h3 class="titulo">Ruta Piedra de Bolivar</h3>
      </div>

      <hr class="mt-12 mb-5" />

      <div class="row">
        <p class="lh-base">
          Tiene una duración de dos días una noche, donde se realiza la visita a
          varios atractivos naturales y culturales como: <br />
          <br />
        </p>
        <span>
          <ul>
            <li>Iglesia de San Andrés</li>
            <li>Comunidad de San Rafael de Chuquipogyo y sus artesanías</li>
            <li>Las Lagunas Mágicas</li>
            <li>La Piedra Negra</li>
            <li>El mirador de la Arista del Sol</li>
            <li>Los Picapedreros de San Pablo</li>
            <li>Faldas del Chimborazo (Camping)</li>
          </ul>
          <br />
        </span>
      </div>
    </div>

    <!-- -------------------------------------CARRUSEL IMAGENES -->
    <div class="col-10 p-0 mx-0 info-img">
      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-inner">
          <div
            class="carousel-item active carousel-item"
            data-bs-interval="2000"
          >
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_1.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item" data-bs-interval="2000">
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_2.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item" data-bs-interval="2000">
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_3.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item" data-bs-interval="2000">
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_4.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item" data-bs-interval="2000">
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_5.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item" data-bs-interval="2000">
            <img
              src="../../../../assets/pictures/Ruta_PiedraSimonBolivar_6.jpg"
              class="d-block w-100 c-img"
              alt="..."
            />
          </div>
        </div>
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="0"
            class="active"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------  CARDS NORMAS Y GUIAS LOCALES-->

  <div class="text-center py-3 mt-5 titulo">
    <h2 class="fw-bolder">NORMAS Y GUÍAS</h2>
  </div>

  <div class="container row mt-3">
    <!-- ------------------------------------ CARDS -->
    <div class="d-flex flex-row justify-content-evenly mx-2 p-4 mt-3">
      <!-- ------------------------------NORMAS -->
      <div class="col-5">
        <div class="card py-3 px-2">
          <span
            class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
          >
            <h3 class="m-0 fw-bolder fs-5">Normas</h3>
            <img
              src="../../../../assets/icons/black/normas.png"
              alt="icon_guias"
              width="30px"
              height="28px"
            />
          </span>
          <div class="card-body mt-2 pb-0">
            <div class="card-text">
              <span
                >Las normas de comportamiento son: <br />
                <br
              /></span>
              <ul>
                <li>No dejar basura en el lugar turístico.</li>
                <li>Cuidar y mantener el ecosistema.</li>
                <li>Respetar a la flora y la fauna.</li>
                <li>Asegurarse de apagar el fuego en caso de que se haga.</li>
                <li>Evitar dañar o movilizar cualquier elemento natural.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------GUIAS LOCALES -->
      <div class="col-5">
        <div class="card py-3 px-2">
          <span
            class="card-header d-flex flex-row align-items-center justify-content-between pe-4"
          >
            <h3 class="m-0 fw-bolder fs-5">Guías Locales</h3>
            <img
              src="../../../../assets/icons/black/guias.png"
              alt="icon_guias"
              width="30px"
              height="30px"
            />
          </span>

          <div class="card-body mt-2 pb-0">
            <div class="card-text">
              <span
                >Los guías locales cumplen las funciones de: <br />
                <br
              /></span>
              <ul>
                <li>Realizar el patrullaje de las actividades.</li>
                <li>Brindar información sobre medidas de seguridad.</li>
                <li>Indicar las normas de conducta en los sitios de visita.</li>
                <li>Indicar las regulaciones del área protegida.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------- ACTIVIDADES -->
  <!-- TODO: IMPLEMENTAR PAGINADO!!! -->
  <div class="text-center py-3 mt-5 titulo">
    <h2 class="fw-bolder">ACTIVIDADES</h2>
  </div>

  <div class="container my-5">
    <div class="d-flex flex-row flex-wrap justify-content-evenly">
      <div *ngFor="let actividad of this.actividades">
        <shared-card-turismo
          [actividad]="actividad"
          class="col-3 m-3"
        ></shared-card-turismo>
      </div>
    </div>
  </div>
</div>
